<!--

<body>
    <p>Test</p>
      <form class="col s12" method='POST'>
            <input
              v-model="username"
              id="username"
              type="text"
              class="validate"
              name="username"
            />
            <label for="username">Username</label>


            <input
              v-model="password"
              id="password"
              type="password"
              class="validate"
              name='password'
            />
            <label for="password">Password</label>

            <input
              v-model="password_confirm"
              id="password_confirm"
              type="password"
              name='password_confirm'
            />
            <label for="password-confirm">Password confirm</label>


        <div class="form-group">
          <button class="btn btn-success btn-block light-blue" type="submit">
            Register
          </button>
      </form>
<p>{{error}}</p>
</body>
-->
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/register.css') }}">
</head>
<form class="login-form" method="POST">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    <input type="username" class="login-username" autofocus="true" required="true" placeholder="Username" id="username" name="username" v-model="username" />
    <input type="password" class="login-password" required="true" placeholder="Password" id="password" name="password"/>
    <input type="password" class="login-password" required="true" placeholder="Password" id="password_confirm" name="password_confirm" />
    {{error}}
    <input type="submit" name="Login" value="Login" class="login-submit" />
  </form>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div> 